/*=============================general=============================*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

/*=========variable define=========*/
:root {
  --primary-color: #fdab3b;
  --secondary-color: #231e41;
  --white-color: #fff;
  --black-color: #1c1c1c;

  /*===========text color===========*/
  --text-primary: #fdab3b;
  --text-secondary: #231e41;
  --text-white: #fff;
  --text-color: #555;
  --text-gray: #999;
}

/*====================navbar=======================*/
nav {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  background: var(--white-color);
  z-index: 9999;
  font-family: "Roboto", sans-serif;
}

.navbar-brand img {
  width: auto;
  height: 3.25rem;
}

nav .navbar-nav .nav-link {
  color: var(--text-gray);
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}

nav .navbar-nav .nav-link:hover {
  color: var(--black-color);
}

nav .navbar-nav .active {
  color: var(--primary-color) !important;
}

.SignUp-nav-link {
  color: var(--text-white);
  background-color: var(--primary-color);
  transition: 0.2s ease-in-out;
}

.SignUp-nav-link:hover {
  background-color: var(--black-color);
  color: var(--text-white);
}

/*===========================================================
============================================================*/
@media screen and (min-width: 320px) and (max-width: 991.20px) {
  nav .navbar-nav .nav-link::after {
    display: none;
  }

  nav .navbar-nav .active {
    color: var(--primary-color) !important;
  }

  nav .navbar-nav .nav-link {
    color: var(--text-gray);
    padding: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav .navbar-nav .nav-link:hover{
  color: var(--primary-color);
}

  .SignUp-nav-link {
    width: 100%;
    margin-bottom: 5px;
  }
}